Package: ksh-dev
Source: ksh
Version: 0.1-1
Architecture: amd64
Maintainer: Krzysztof Demir Kuzniak <krzysztofdemirkuzniak@gmail.com>
Installed-Size: 9
Depends: ksh (= 0.1-1)
Section: libdevel
Priority: optional
Homepage: https://github.com/KuznixTeam/ksh
Description: Development files for Kuznix Shell
 Development headers and libraries for building software that links against
 Kuznix Shell. This package contains header files and static libraries used
 by developers integrating with ksh.
