Package: kzsh-dbgsym
Source: kzsh
Version: 0.1.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Krzysztof Demir Kuzniak <krzysztofdemirkuzniak@gmail.com>
Installed-Size: 42
Depends: kzsh (= 0.1.1-1)
Section: debug
Priority: optional
Description: debug symbols for kzsh
Build-Ids: 6d052302773e950464b420eed193bb2f72340bdf
