Package: ksh-dbgsym
Source: ksh
Version: 0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Krzysztof Demir Kuzniak <krzysztofdemirkuzniak@gmail.com>
Installed-Size: 36
Depends: ksh (= 0.1-1)
Section: debug
Priority: optional
Description: debug symbols for ksh
Build-Ids: 765a167e81f504bf33d32322b57ea3f23b287cd0
