Package: ksh
Version: 0.1-1
Architecture: amd64
Maintainer: Krzysztof Demir Kuzniak <krzysztofdemirkuzniak@gmail.com>
Installed-Size: 41
Depends: libc6 (>= 2.38), libstdc++6, libncurses6, libreadline8
Section: utils
Priority: optional
Homepage: https://github.com/KuznixTeam/ksh
Description: Kuznix Shell - a bash-like shell
 Kuznix Shell (ksh) is a modern, bash-compatible shell written in C/C++ with
 support for builtins, history, aliases, and configuration through rc files.
 It provides an interactive command line and supports scripting.
